
<div class="container">
  <div class="row">
    <div class="col-4"   *ngFor="let card of product">
    <!-- <a class="btn btn-primary" style="width: 50px;">+{{counter}}</a> -->
    <!-- <li *ngFor="let card of product">{{card.title}}</li> -->
    <div class="card m-5" *ngIf="flag"  style="width: 18rem;height: auto">
      <img src="{{card.image}}"  width="200px" height="200px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-text">{{card.price|coin}}</p>
        <a class="btn btn-primary" (click)="removecard()">remove</a>
      </div>
    </div>
    <!-- <a class="btn btn-primary" style="width: 50px;" >-</a> -->

  </div>
  </div>
  <div class="text-center text-success"> <h1 *ngIf="hascard()">This cart is Empty</h1></div>
  <div class="text-center text-success"> <h1>Total-Price :{{sum|coin}}</h1></div>

</div>
