<h1 class="text-center bg-dark p-5" style="font-weight: 900;color:red;">Register Page</h1>

<section class="vh-100 bg-image my-0"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="form" (ngSubmit)="submit()">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input type="text" class="form-control form-control-lg" formControlName="Name" />
                  <small class="text-danger" *ngIf="formControl['Name'].touched&&formControl['Name'].invalid">
                    field is required
                  </small>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                    formControlName="Email" />
                  <small class="text-danger" *ngIf="formControl['Email'].touched&&formControl['Email'].invalid">
                    field is required
                  </small>


                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">UserName</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                    formControlName="UserName" />
                  <small class="text-danger" *ngIf="formControl['UserName'].touched&&formControl['UserName'].invalid">
                    field is required
                  </small>

                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                    formControlName="Password" /><small class="text-danger"
                    *ngIf="formControl['Password'].touched&&formControl['Password'].invalid">
                    field is required
                  </small>

                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                    formControlName="RepeatPassword"  />
                  <small class="text-danger" *ngIf="formControl['RepeatPassword'].touched&&formControl['RepeatPassword'].invalid">

                    <!-- <small class="text-danger" *ngIf="formControl['RepeatPassword'].errors.required>
                      Field is required
                    </small>
                    <small class="text-danger" *ngIf="Email.errors?.['pattern']"> -->
                      you should match pattern
                    </small>


                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
